
## Last changed: 2025-03-01 02:26:11 UTC
version 12.1R1.9;
system {
    host-name junip3;
    root-authentication {
        encrypted-password "$1$ZX3Y/6H4$x2t1z8.0SHwUy7tu5Aub20";
    }
    services {
        ssh;
        telnet;
        netconf {
            ssh;
        }
        web-management {
            http;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            description management;
            family inet {
                address 192.168.122.13/24;
            }
        }
    }
    em1 {
        unit 0 {
            description "spine p2p";
            family inet {
                address 10.0.13.2/30;
            }
        }
    }
    em2 {
        unit 0 {
            description network;
            family inet {
                address 192.168.2.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.16.0.1/32;
                address 172.16.0.3/32;
            }
        }
    }
}
routing-options {
    router-id 172.16.0.3;
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface em1.0 {
                interface-type p2p;
            }
            interface em2.0 {
                passive;
            }
        }
    }
}
