
## Last changed: 2025-02-27 04:50:21 UTC
version 12.1R1.9;
system {
    host-name junip2-new;
    root-authentication {
        encrypted-password "$1$ZX3Y/6H4$x2t1z8.0SHwUy7tu5Aub20";
    }
    services {
        ssh;
        telnet;
        netconf {
            ssh;
        }
        web-management {
            http;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            description management;
            family inet {
                address 192.168.122.12/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.16.0.1/32;
            }
        }
    }
}
