system {
    host-name {{ hostname }};
}

interfaces {
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback }}/32;
            }
        }
    }

    em0 {
        unit 0 {
            description "management";
            family inet {
                address {{ management_ip }}/24;
            }
        }
    }

    em1 {
        unit 0 {
            description "junip2 p2p";
            family inet {
                address 10.0.12.1/30;
            }
        }
    }

    em2 {
        unit 0 {
            description "junip3 p2p";
            family inet {
                address 10.0.13.1/30;
            }
        }
    }
}

routing-options {
    router-id {{ loopback }}
}

protocols {
    ospf {
        area 0 {
            interface lo0 {
                passive;
            }
            interface em1 {
                interface-type p2p;
            }
            interface em2 {
                interface-type p2p;
            }
        }
    }
}